<div class="sidenav">
  <div routerLink="home" class="icon-1">
    <button class="btn btn-secondary" [routerLink]="['/home']">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill"
        viewBox="0 0 16 16">
        <path
          d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
      </svg>
    </button>
  </div>
  <div routerLink="schedule" class="icon-2">
    <button class="btn btn-secondary" [routerLink]="['/schedule/${user.id}']">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
        <path
          d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
      </svg>
    </button>
  </div><div class="icon-2">
    <button class="btn btn-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>
    </button>
  </div>
  
</div>
<div class="event-manager-container">
    <div class="header container">
        <h2>Manage Events</h2>
        <button class="btn btn-primary" (click)="backToSchedule()">Return to schedule</button>
    </div>
    <form (ngSubmit)="addEvent()" class="event-form mb-4">
        <div class="row g-2 align-items-end">
          <div class="col-md-3">
            <label>Title</label>
            <input class="form-control" [(ngModel)]="newEvent.title" name="title" required>
          </div>
    
          <div class="col-md-2">
            <label>Day</label>
            <select class="form-control" [(ngModel)]="newEvent.day" name="day">
              <option *ngFor="let day of ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']">{{ day }}</option>
            </select>
          </div>
    
          <div class="col-md-2">
            <label>Start Time</label>
            <input type="time" class="form-control" [(ngModel)]="newEvent.startTime" name="startTime" required>
          </div>
    
          <div class="col-md-2">
            <label>End Time</label>
            <input type="time" class="form-control" [(ngModel)]="newEvent.endTime" name="endTime" required>
          </div>
    
          <div class="col-md-2">
            <label>Recurring</label>
            <input type="checkbox" class="form-check-input ms-2" [(ngModel)]="newEvent.recurring" name="recurring">
          </div>
    
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary w-100">Add</button>
          </div>
        </div>
      </form>
    
      <div *ngIf="events.length > 0">
        <h4>Current Events</h4>
        <ul class="list-group">
          <li *ngFor="let event of events" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              {{ event.title }} - {{ event.day }} ({{ event.startTime }} - {{ event.endTime }})
              <span *ngIf="event.recurring" class="badge bg-info ms-2">Recurring</span>
            </span>
            <div>
              <!-- <button class="btn btn-sm btn-outline-secondary me-2" (click)="editEvent(event)">Edit</button> -->
              <button class="btn btn-sm btn-outline-danger" (click)="deleteEvent(event)">Delete</button>
            </div>
          </li>
        </ul>
      </div>
  </div>