<body>
  <div class="sidenav">
    <div [routerLink]="['/home']" class="icon-1">
      <button class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill"
          viewBox="0 0 16 16">
          <path
            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
        </svg>
      </button>
    </div>
    <div class="icon-2">
      <button class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
          viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>
      </button>
    </div>
  </div>
  <div class="main">
    <div class="calendar-container">
      <nav class="navbar navbar-light bg-light fixed-top w-100">
        <div class="container-fluid d-flex justify-content-center align-items-center">
          <div class="events">

          </div>
          <button class="btn btn-outline-secondary ms-5" (click)="navigateToPrevWeek()">Prev</button>
          <span class="mx-3">{{ getWeekLabel() }}</span>
          <button class="btn btn-outline-secondary" (click)="navigateToNextWeek()">Next</button>
          <div class="events">
            <button [routerLink]="['/event-editor']" class="btn btn-primary">Manage Events</button>
          </div>
        </div>
      </nav>

      <div class="calendar-grid">
        <div class="time-column">
          <div *ngFor="let time of timeSlots" class="time-slot">
            <br>
            <span>{{ time }}</span>
          </div>
        </div>
        <div class="days-grid" >
          <div *ngFor="let day of daysOfWeek" class="day-column position-relative">
            <span>{{ day }}</span>
            <!-- <div class="event-thing"> -->
              <div *ngFor="let event of getEventsForDay(day)" class="event position-absolute" style="padding-top: 27px;"
                [ngStyle]="getEventStyle(event)">
                {{ event.title }}
              </div>
            <!-- </div> -->
            <div *ngFor="let time of timeSlots" class="event-cell"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>