
<body>
    
<div class="calendar-container">
    <nav class="navbar navbar-light bg-light fixed-top w-100">
        <div class="container-fluid d-flex justify-content-center align-items-center">
          <button mat-raised-button (click)="navigateToPrevWeek()">Prev</button>
          <span class="mx-3">{{ getWeekLabel() }}</span>
          <button mat-raised-button (click)="navigateToNextWeek()">Next</button>
          <button [routerLink]="['/event-editor']" class="events-btn btn-primary">Manage Events</button>
        </div>
      </nav>
    <div class="calendar-grid">
      <div class="time-column">
        <div *ngFor="let time of timeSlots" class="time-slot">
            <br>
          <span>{{ time }}</span>
        </div>
      </div>
  
      <div class="days-grid">
        <div *ngFor="let day of daysOfWeek" class="day-column">
          <span>{{ day }}</span>
          <div *ngFor="let time of timeSlots" class="event-cell">
            <div
              *ngFor="let event of getEventsForTimeAndDay(time, day)"
              class="event"
              (click)="editEvent(event)"
            >
              {{ event.title }}
            </div>
            <!-- <button mat-raised-button (click)="addEvent(time, day)">Add Event</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>