@if(!isAddingCourse()){
<div class="container-fluid text-center text-dark mt-5">
  <h1>Just Due It - Teacher Dashboard</h1>
  
  <div class="container mt-5">
    <div class="row">
      @for (course of teacherCourses; track $index) {
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div
          class="card h-100"
          (click)="goToCourse(course.id)"
          style="cursor: pointer"
        >
          <div class="card-body text-center mt-5 mb-5">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.students?.length }} students</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- <div class="row mt-4">

        <div class="col-6">
          <div class="info-box">
            <p>Class: Class2</p>
            <p>Student: 19</p>
            <p>Assignment: 3 Active</p>
            <p>【view process】</p>
          </div>
        </div>
      
        <div class="col-6">
          <div class="info-box">
            <p>Class: Class3</p>
            <p>Student: 24</p>
            <p>Assignment: 2 Active</p>
            <p>【view process】</p>
          </div>
        </div>
      
        <div class="col-6">
          <div class="info-box">
            <p>Recently Activity:</p>
            <p>Class 3 Ben submit Assignment 2!</p>
            <p>Class 2 Alex submit Assignment 3!</p>
            <p>Class 3 Cassy submit Assignment 2!</p>
          </div>
        </div>
      
        <div class="col-6">
          <div class="info-box">
            <p>Notification: Late Alert</p>
            <p>Class 2 Kai missed Assignment 1!</p>
            <p>Class 2 John missed Assignment 2!</p>
          </div>
        </div>
      
      </div>
       -->

  <div class="mt-5 d-flex justify-content-center gap-3">
    <button class="btn btn-custom" (click)="toggleIsAddingCourse()">
      ➕ Add Course
    </button>
  </div>
</div>
} @if(isAddingCourse()){
<div class="d-flex justify-content-center vh-100">
  <div class="card card-body">
    <h3>Create a Course</h3>
    <form (ngSubmit)="createCourse()">
      <div class="mb-3">
        <label for="courseTitle" class="form-label">Course Title: </label>
        <input
          type="text"
          id="courseTitle"
          [(ngModel)]="newCourse.title"
          name="title"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="courseDescription" class="form-label"
          >Course Description:
        </label>
        <input
          type="text"
          id="courseDescription"
          [(ngModel)]="newCourse.description"
          name="description"
          class="form-control"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="toggleIsAddingCourse()"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="toggleIsAddingCourse()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
}
