@if(!isAddingCourse()){
  <div class="header align-items-center">
    <h1>Hello, {{ fname }}!</h1>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
<div class="container-fluid text-center text-dark mt-5">
  <div class="container mt-5">
    <div class="row">
      @for (course of teacherCourses; track $index) {
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div
          class="card h-100 border-dark course-card"
          (click)="goToCourse(course.id)"
          style="cursor: pointer"
        >
          <div class="card-body text-center mt-5 mb-5">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.students?.length }} students</p>
            <p class="card-text">Join Code: {{ course.code }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center gap-3">
    <button class="btn btn-custom" (click)="toggleIsAddingCourse()">
      ➕ Add Course
    </button>
  </div>
</div>

} @if(isAddingCourse()){
<div class="container">
  <div class="card mx-auto w-50 mt-5 container-color">
    <h3 class="ms-2 mt-2">Create a Course</h3>
    <form (ngSubmit)="createCourse()" class="ms-2">
      <div class="mb-3 me-2">
        <label for="courseTitle" class="form-label">Course Title: </label>
        <input
          type="text"
          id="courseTitle"
          [(ngModel)]="newCourse.title"
          name="title"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3 me-2">
        <label for="courseDescription" class="form-label"
          >Course Description:
        </label>
        <input
          type="text"
          id="courseDescription"
          [(ngModel)]="newCourse.description"
          name="description"
          class="form-control"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary ms-2 mb-3"
        (click)="toggleIsAddingCourse()"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary ms-2 mb-3"
        (click)="toggleIsAddingCourse()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
}
