.header-color{
    background: linear-gradient(to bottom, #a1c5f0, #62acf7);
}
.sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, #d1d1d1, #dddddd);
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-right: 90px;
    
}

.icon-1 {
    padding-left: 20px;
}